h1, h2, h3, h4, h5, h6, .f3 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1, .h1 {
    font-size: 2.5rem;
}

body {
    margin: 0px;

}

/* MY CSS */

.navigator {
    background: rgba(1, 12, 12, 0.555);
    margin: inherit;
    height: 30%;
    margin-bottom: 2%;
}
.element {
    list-style-type: none;
    margin: inherit;
    padding: 0.6%;
}

.item {
    display: inline-block;
    margin-left: 5%;
}

#home {
    margin-left: 1vw;
}

@media screen and (min-width:360px) {
    .element a {
        text-decoration: none;
        font-size: 4.5vw;
        color: rgba(0, 0, 0, 0.582);
    }
}
@media screen and (min-width: 800px) {
    .element a {
        text-decoration: none;
        font-size: 2.5vw;
        color: rgba(0, 0, 0, 0.582);
    }
}
@media screen and (min-width: 1400px) {
    .element a {
        text-decoration: none;
        font-size: 1.9vw;
        color: rgba(0, 0, 0, 0.582);
    }
}
.element a:hover, .element a:active {
    background-color: rgba(1, 12, 12, 0.555);
    color:rgba(245, 245, 245, 0.781);
}
@media screen and (min-width: 1400px){
    .element a:hover, .element a:active {
        background-color:  rgba(1, 12, 12, 0.555);
        color: rgba(245, 245, 245, 0.781);
        font-size: 2.5vw;
    }
}