/* CUSTOM CSS FOR INDEX PAGE */

.board {
    margin-top: 3%;
    width: 29%;
    margin-left: auto;
    margin-right: auto;
    border: 4px outset rgba(119, 128, 0, 0.596);
    border-radius: 30%;
    padding: 3vw;
    text-align: center;
    background-color: rgba(119, 128, 0, 0.596);
}
.board:hover{
    box-shadow: inset 0 0 0 25px #aa901ba9;
}
@media screen and (min-width: 650px) {
    #text {
        font-stretch: condensed;
        font-size: 3.5vw;
        font-weight: 500;
        color: rgba(87, 66, 8, 0.808);
    }
}

@media screen and (min-width: 800px) {
    #text {
        font-stretch: condensed;
        font-size: 2.5vw;
        font-weight: 500;
    }
}
@media screen and (min-width: 1920px) {
    #text {
        font-stretch: condensed;
        font-size: 1.5vw;
        font-weight: 500;
    }
}
