<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title%}
    <title>Home</title>
    {% endblock%}
    <link rel="stylesheet" href={{url_for('static',filename='base_layout.css')}}>
    <link rel="stylesheet" href={{url_for('static',filename='messages.css')}}>
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <!-- CUSTOM CSS -->
    {% block css%}

    {% endblock %}
    
</head>
<body>
    <div class="navigator">
        <ul class="element">
            <li class="item f3"><a href="/"> <span id="Home">Home</span></a> </li>
            <li class="item f3" ><a href=""> <span id="Attendance"></span>Attendance</a></li>
            {% if session.logged_in %}
            <li class="item f3" ><a href="#"> <span id="Profile">Profile</span> </a></li>
            <li class="item f3" ><a href="/logout"><span id="Logout">Logout</span> </a></li>
            {% else %}
            <li class="item f3" ><a href="/login"> <span id="Login">Login</span> </a></li>
            <li class="item f3" ><a href="/register"> <span id="Register">Register</span></a> </li>
            {% endif %}
        </ul>
    </div>
    <div class="container mt-4">
     {% include "include/_messages.html" %}
    {% block body %}
    {% endblock %}
    </div>
    {% block js %}
    {% endblock %}
    <script src={{url_for("static",filename="layout.js")}}></script>
</body>
</html>