<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href={{url_for('static',filename='base_layout.css')}}>
    <!-- CUSTOM CSS -->
    {% block css%}

    {% endblock %}
    
</head>
<body>
    <div class="nav">
        <ul class="element">
            <li class="item h3" id="home"><a href=>Home</a> </li>
            <li class="item h3" id="regist"><a href=""> Register</a> </li>
            <li class="item h3" id="login"><a href=""> Login </a></li>
            <li class="item h3" id="attend"><a href=""> Attendance</a></li>
        </ul>
    </div>
    {% block body %}
    {% endblock %}
    {% block js %}
    {% endblock %}
</body>
</html>