{% extends 'layout.html' %}
{% block title%}
<title>Login</title>
{% endblock%}
{% block body %}
<div class="register">
    <h1>Login</h1>

    <form action="" method="POST">
        <div class="login-name">
            <label id="input-text">{{form.username.label}}</label>
            {{form.username()}}
        </div>

        <div>
            <label id="input-text">{{form.password.label}}</label>
            {{form.password()}}
        </div>
        <button type="submit" class="register-btn">LOGIN</button>
    </form>
</div>
{% endblock %}
{%block css%}
<link rel="stylesheet" href={{url_for("static",filename="reg.css")}}>
{%endblock%}