{% extends 'layout.html' %}
{% block title%}
<title>Login</title>
{% endblock%}
{% block body %}
<div class="register">
    <h1><u>Login</u></h1>

    <form action="" method="POST">
        <div class="login-name">
            <label id="input-text">{{form.username.label}}</label><br>
            {{form.username()}}
        </div>

        <div>
            <label id="input-text">{{form.password.label}}</label><br>
            {{form.password()}}
        </div>
        <button type="submit" class="register-btn">LOGIN</button>
        <a href="/forgot_route" class='register-btn'>Forgot Password</a>
    </form>
</div>
{% endblock %}
{%block css%}
<link rel="stylesheet" href={{url_for("static",filename="reg.css")}}>
{%endblock%}