{% extends 'layout.html' %}
{% block title%}
<title>Register</title>
{% endblock%}
{% block body %}
 <div class="register">
    <h1><u>Register</u></h1>
    <form method="POST" action="">
        <div>
         <label id="input-text">{{form.name.label}}</label><br>
         {{form.name()}}
         </div>
 
         <div>
        <label id="input-text">{{form.username.label}}</label><br>
         {{form.username()}}
         </div>
 
         <div>
         <label id="input-text">{{form.email.label}}</label><br>
         {{form.email()}}
         </div>
 
         <div>
         <label id="input-text">{{form.password.label}}</label><br>
         {{form.password()}}
         </div>
 
         <div>
         <label id="input-text">{{form.confirm.label}}</label><br>
         {{form.confirm()}}
         </div>
 
         <p><input type="submit" class="register-btn" value="REGISTER"></p>
    </form>
 </div>
{% endblock %}
{%block css%}
<link rel="stylesheet" href={{url_for("static",filename="reg.css")}}>
{%endblock%}