{% extends 'layout.html' %}

{% block body %}
   <h1><u>Change Password</u></h1>
   
   <form action="" method="POST">
    <div class="login-name">
        <label id="input-text">{{form.password.label}}</label><br>
        {{form.password()}}
    </div>

    <div>
        <label id="input-text">{{form.confirm.label}}</label><br>
        {{form.confirm()}}
    </div>
    <button type="submit" class="register-btn">Change Password</button>
</form>
{% endblock %}
{%block css%}
<link rel="stylesheet" href={{url_for("static",filename="reg.css")}}>
{%endblock%}